[submodule "legacy/content-menota"]
	path = legacy/content-menota
	url = git@git.app.uib.no:Menota/content-menota.git
[submodule "legacy/schema-menota"]
	path = legacy/schema-menota
	url = git@git.app.uib.no:Menota/schema-menota.git
