



  


  /* SECTION */

  .idoc-section {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .idoc-section.idoc-first {
    margin-top: 0px;
  }


  /* EXAMPLE */
  
  .idoc-example {
    background-color: #f0f0f0;
    color: #000000;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }    

  .idoc-example .idoc-header {
    font-weight: bold;
  }


  /* TABLE OF CONTENTS */
  .idoc-table-of-contents {
    font-size: 8pt;
  }


  /* TABLE */
  .idoc-table td, .idoc-table th {
    padding-right: 20px;
  }
  
  .idoc-table td {
  }
  
  .idoc-table th {
    font-size: 10pt;
    text-align: left;
  }



  /* NL (block) */

  .idoc-nl-block {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .idoc-nl-body .idoc-nl-block {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .idoc-nl-block .idoc-nl-body {
    display: none;
    margin-left: 20px;
  }

  .idoc-nl-body .idoc-nl-block .idoc-nl-body {
    position: relative;
    background-color: transparent;
    border: 0px solid white;
    padding: 0px;
    margin-top: 0px;
    margin-left: 20px;
    width: auto;
  }    


  /* NL (pulldown) */

  div.idoc-nl-pulldown {
    display: inline;
  }

  .idoc-nl-pulldown .idoc-nl-body {
    display: none;
    position: absolute;
    z-index: 99;
    color: #000000;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    padding: 7px;
    margin-top: 16px;
    margin-left: 20px;
    width: 200px;
  }


  /* NL (common) */

  .idoc-nl-body a.idoc-nl-label {
    font-weight: bold;
  }


  a.idoc-nl-item {
    text-decoration: none;
  }
  a.idoc-nl-item:hover {
    text-decoration: underline;
  }




  /* LIST */
  
  table.idoc-list {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  table.idoc-list .idoc-list-table-label {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  table.idoc-list .idoc-list-table-item {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
  }


  /* IMG */
  
  table.idoc-img {
  }
  
  table.idoc-img .idoc-img-text {
    font-size: 8pt;
  }
  
  img.align-right {
    margin-left: 20px;
    margin-bottom: 5px;
  }

  img.align-left {
    margin-right: 20px;
    margin-bottom: 5px;
  }


  @media print {

    .idoc-example {
      background-color: #ffffff;
      border: 1px solid #cccccc;
    }

  }
    



