body		{ 
		font-family: Verdana, Arial, Helvetica, sans-serif;
		margin-right: 35px; 
		margin-left: 35px;
		background-color: #FFFFFF; 
     		}
h1 		{ 
		color: #666; 
		font-size: 1.4em; 
		line-height: 1.3; 
		}
h2		{
		color: #666; 
		font-size: 1.2em; 
		line-height: 1.3; 
		}
h3 		{
		color: #666; 
		font-size: 1.0em;
		line-height: 2; 
		}
h4 		{
		color: #666; 
		font-size: 0.8em;
		}
h6 		{ color: #666; 
		font-size: 0.6em; 
		}
p 		{
		font-size: 0.8em; 
		line-height: 1.3; 
		text-align: left; 
		}
p#indent1	{
		font-size: 0.8em; 
		line-height: 1.3; 
		margin-left: 28px; 
		}
p#indent2	{
		font-size: 0.8em; 
		line-height: 1.3; 
		margin-left: 56px; 
		}
p#indent3	{
		font-size: 0.8em; 
		line-height: 1.3; 
		margin-left: 84px; 
		}
p#indent4	{
		font-size: 0.8em; 
		line-height: 1.3; 
		margin-left: 112px; 
		}
blockquote 	{
		font-size: 0.8em; 
		line-height: 1.3; 
		margin-right: 20px; 
		margin-left: 28px; 
		}
dd 		{
		font-size: 0.8em; 
		line-height: 1.3; 
		text-align: left; 
		}
em 		{
		font-style: italic; 
		}
em#code		{
		color: #0000CC;
		font-weight: normal;
		font-style: normal;
		}
em#element	{
		color: #0000CC;
		font-weight: bolder;
		font-style: normal;
		}
em#display	{
		color: #CC0099;
		font-weight: bolder;
		font-style: normal;
		}
em#layout	{
		color: #009900;
		font-weight: bolder;
		font-style: normal;
		}
em#note		{
		color: #32CD32;
		font-weight: bolder;
		font-style: normal;
		}
strong 		{
		color: #666;
		font-weight: bolder; 
		}
a:link	 	{
		color:#0000FF;
		text-decoration: none; 
		}
a:active 	{
		color:#0000FF;
		text-decoration: none; 
		}
a:visited 	{
		color:#0000FF;
		text-decoration: none; 
		}
b 		{
		color: #666; 
		}
.code {
        font-size: 1.0em; 
}