body {
   	/*padding-top: 50px;*/
}

.pre {
    font-family:    Cardo, 'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-size: 110%;
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: right;
}

.hit {
    font-family:    Cardo, 'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-size: 110%;
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: center;
}

.post {
    font-family:    Cardo, 'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-size: 110%;
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: left;
}

.source {
	padding-left: 5px; 
	padding-right: 5px; 
	text-align: left;
	color: teal;
}

.source:hover {
	text-decoration: underline;
	cursor: pointer;
}

.keyword {
	font-weight: bold;
	border-bottom: 1px dotted black;
}

.keyword:hover {
	font-weight: bold;
	color: #0000FF;
	border-bottom: 1px solid #0000FF;
	cursor: pointer;
}

.toolTip:hover {
	color: #007FA6;
	cursor: pointer;
}