/* 2006.03.27 tmb: Name of the stylesheet is changed from "page.css" into "menota_handbook_suppl.css" */
/*
   2005.12.09 tmb (Tone Merete Bruvik): Changes and supplement to the menota_base.css and menota_handbook_suppl.css done in connection
  to the redefinition of the Menota pages in XML.
 */
.greenbandtabell {
  border: 0px solid black;
  width: 100%;
  background-color: #006666;
}
.greenband {
  color: #FFFFFF;
  font-size: 1.0em;
  line-height: 1;
}
tr.headRad {
  background-color: #CCCCCC;
}
tr.oddRad {
  padding: 8px;
}
tr.jamnRad {
  padding: 8px;
}
.tabell {
  border: 1px solid black;   
  width: 100%;
}
.tabellcelle {
/* border: 1px solid black; */
  font-size: 0.8em;
  padding: 8px;
}
.listhead {
  color: #666;
  font-size: 1.0em;
}


.code {
  font-family: Courier, monospace;
  font-size: 0.9em;
  margin-left: -10px;
}

.item {
  font-size: 0.8em;
}
.glyphtable {
  width: 100%;
  font-size: 0.8em;
  padding: 0px;
}
.plaintable {
  width: 100%;
  font-size: 1em;
  padding: 0px;
}
.tumbnailtable {
  width: 100%;
  font-size: 0.8em;
}
.figDesc {
  color: #666;
  font-weight: bolder;
}
.menu {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  vertical-align: top;
  padding-top: 0.8em;
}
.hr {
  vertical-align: bottom;
  padding-top: 10px;
}