/*
CSS stylesheet to show XML encoded text which is encoded
using Menota handbook, 2.0 b (TEI P5 version).
This is a complete CSS definition for Menota styles,
included in the present XSLT style sheet.
Thus it is possible to use this style sheet offline.
We recommend using MUFI compliant fonts,
which are listed in a preferential sequence 
as values for the font-family. These fonts are available from 
http://www.hit.uib.no/mufi/fonts.html.
However, structural elements may use another font, like Verdana.
*/

.pagebreak {
                font-family:        Verdana;
                font-size:          12pt;
                font-weight:        normal;
                color:              #BEBEBE;
                vertical-align:     middle;
}

.linecount {
                font-family:        Verdana;
                font-size:          10pt;
                font-weight:        normal;
                color:              #BEBEBE;
                padding-right:      15px;
                float:              left;
                text-align:         right;
                width:              25px;
}

.head1 {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-weight:        normal;
                font-size:          28pt;
                color:              #0000FF;
                text-align:         left;
                margin-bottom:      10px;
}

.head2 {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-weight:        normal;
                font-size:          24pt;
                color:              #0000FF;
                text-align:         left;
                margin-bottom:      10px;
}

.head3 {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-weight:        normal;
                font-size:          18pt;
                color:              #0000FF;
                text-align:         left;
                margin-bottom:      10px;
}

.head4 {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-weight:        normal;
                font-size:          14pt;
                color:              #0000FF;
                text-align:         left;
                margin-bottom:      10px;
}

.divwork {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-size:          18pt;
                font-weight:        normal;
                color:              #0000FF;
                margin-top:         10px;
                margin-bottom:      10px;
                text-align:         left;
}

.divchapter {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-size:          16pt;
                font-weight:        normal;
                color:              #0000FF;
                margin-top:         20px;
                margin-bottom:      10px;
                text-align:         left;
}

.paragraph {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-size:          14pt;
                font-weight:        normal;
                color:              #000000;
                line-height:        140%;
}

.linegroup {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-size:          14pt;
                font-weight:        normal;
                color:              #000000;
                line-height:        140%;
                margin-left:        25px;
}                                                         

.lglines {
                font-family:        Verdana;
                font-size:          10pt;
                font-weight:        normal;
                color:              #BEBEBE;
                padding-right:      5px;
                float:              left;
                text-align:         right;
                width:              25px;
}

.note {
                font-family:        Verdana;
                font-size:          8pt;
                font-weight:        normal;
                color:              #0000FF;
                text-decoration:    none;
                vertical-align:     super;
}

.foot {
                font-family:        Verdana;
                font-size:          8pt;
                font-weight:        normal;
                color:              #0000FF;
                text-decoration:    none;
                float:              left;
                width:              15px;
                padding-right:      5px;
                text-align:         right;
}

.footnote {
                font-family:        Verdana;
                font-size:          10pt;
                font-weight:        normal;
                color:              #000000;
}

.expan {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-style:         italic;
                font-weight:        normal;
}
                
.notecritical {
                font-size:          80%;
                color:              #0076AE;
}

.noteplain {
                font-size:          80%;
                color:              #008080;
}

.supplied {
                font-family:        Notator Uni, ALPHABETUM Unicode, Verdana;
                font-size:          100%;
}

.gap {
                font-size:          80%;
                color:              #0076AE;
}

.add {
                color:              #008000;
}

.emph {
                color:              #0000FF;
}
