.menotatekst {
    background:     #F3F8F4;
}

.tekstinfo {
    font-family:    Verdana, sans-serif;
    font-size:      10pt;
    color:          gray;
    background:     #FFFFFF;
    padding:        10px;
    margin-bottom:  25px;
    border-radius:  10px;
    border:         1px solid gray;
    width:          650px;
}

.tittellinje {
    font-family:    Verdana, sans-serif;
    font-size:      11pt;
    font-weight:    bold;
    margin-bottom: 25px;
}

.navigasjonslinje {
    font-family:    Verdana, sans-serif;
    font-size:      10pt;
}

.pageNav {
    color: blue;
    text-decoration: none;
}

.pageNav:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.activeView {
    color: green;
}

.availableView {
    color: blue;
}

.availableView:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.unavailableView {
    color: gray;
}

.tekstflate {
    font-family:    Cardo, 'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-size:      11pt;
    background:     #FFFFFF;
    padding:        10px;
    /*border-radius:  15px;
    border:         1px solid black;*/
    width:          650px;
    line-height:    140%;
}

.facsside {
    font-family:        Verdana, sans-serif;
    font-size:          10pt;
    font-weight:        normal;
    color:              #BEBEBE;
    vertical-align:     middle;    
}

.sideskiller {
    width: 575px;
    border-bottom: 1px dashed gray;
}

.diploside {
    font-family:        Verdana, sans-serif;
    font-size:          8pt;
    font-weight:        normal;
    color:              #BEBEBE;
}

.diplokolonne {
    font-family:        Verdana, sans-serif;
    font-size:          8pt;
    font-weight:        normal;
    color:              #BEBEBE;
}

.linjetelling {
    font-family:        Verdana, sans-serif;
    font-size:          8pt;
    font-weight:        normal;
    color:              #BEBEBE;
    float:              left;
    width:              25px;
    clear: both;    
    padding-right:      15px;
    text-align:         right;
}

.overskriftVerk {
    font-size:          18pt;
    font-weight:        normal;
    color:              #0000FF;
    margin-top:         10px;
    margin-bottom:      10px;
    text-align:         left;
}

.overskriftKapittel {
    font-size:          16pt;
    font-weight:        normal;
    color:              #0000FF;
    margin-top:         20px;
    margin-bottom:      10px;
    text-align:         left;
}

.overskriftReply {
    font-size:          14pt;
    font-weight:        normal;
    color:              #0000FF;
}

.tekstAvsnitt {

}

.linjegruppe {
    /*font-size:          14pt;
    font-weight:        normal;
    color:              #000000;
    line-height:        120%;*/
    margin-left:        25px;
}  

.linjegruppelinjer {
    /*font-size:          10pt;
    font-weight:        normal;
    color:              #BEBEBE;*/
    padding-right:      5px;
    float:              left;
    text-align:         right;
    width:              25px;
}

.expan {
    font-family:        Times;
    font-style:         italic;
    font-weight:        normal;
}

.emph {
    color:		        #0000FF
}

.supplied {
    font-size:	        100%;
    color:		        #556B2F;
}

.note {
    font-size:          8pt;
    font-weight:        normal;
    color:              #0000FF;
    text-decoration:    none;
    vertical-align:     super;
}

.notecritical {
    font-size:	        80%;
    color:		        #0076AE
}

.noteplain {
    font-size:	        80%;
    color:		        #008080
}

.foot {
    font-size:          8pt;
    font-weight:        normal;
    color:              #0000FF;
    text-decoration:    none;
    float:              left;
    width:              15px;
    padding-right:      5px;
    text-align:         right;
}

.footnote {
    font-size:          10pt;
    font-weight:        normal;
    color:              #000000;
} 

/* Stiler fra gammelt stilark */

.head1 {
    font-family: 	    'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-weight:	    normal;
    font-size:	        28pt;
    color:		        #0000FF;
    text-align:	        left;
    margin-bottom:      10px;
}
    
.head2 {
    font-family: 	    'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-weight:	    normal;
    font-size:	        24pt;
    color:		        #0000FF;
    text-align:	        left;
    margin-bottom:      10px;
}

.head3 {
    font-family: 	    'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-weight:	    normal;
    font-size:	        18pt;
    color:		        #0000FF;
    text-align:	        left;
    margin-bottom:      10px;
}

.head4 {
    font-family: 	    'Andron Mega Corpus', 'Andron Corpus', 'Andron Scriptor Web', LeedsUni, Junicode, 'ALPHABETUM Unicode', serif;
    font-weight:	    normal;
    font-size:	        14pt;
    color:		        #0000FF;
    text-align:	        left;
    margin-bottom:      10px;
}

.gap {
    font-size:	        80%;
    color:		        #0076AE
}

.add {
    color:		        #008000
}

