/* BODY */

body {
  background-color: #f8f8f8;
  background-image: url(/img/patt-bg-01a.gif);
}
  

/* MENUBAR */

.menubar a {
  color: #336699;
}

.menubar a.active {
  color: #ff6600;
}

.menubar a:hover {
  color: #000000;
}


/* HEADBAR BOX */

.headbar .box {
  border: 1px solid #bbccdd;
}      


/* SIDEBAR */

.sidebar a {
  color: #000066;
}


/* SIDEBAR PAGEBOX */

.sidebar .pagebox {
  border-color: #bbccdd;
}

.sidebar .pagebox .head {
  background-color: #aabbcc;
}

.sidebar .pagebox .item {
  background-color: #f0f5f8;
}

.sidebar .pagebox a.item.active {
  background-color: #e0e5e8;
}


/* MAINBAR */

a {
  color: #336699;
}

.mainbar .box {
  border-color: #aabbcc;
}

.mainbar a:hover {
  color: #000088;
  border-color: #ff6600;
}





/* PRINT */

@media print {
  
  body {
    background-color: #ffffff;
    background-image: none;
  }
  
}



/* END */

