@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@font-face {
    font-family: 'Handbook';
    src: url('@/lib/webfonts/andron-mega-corpus-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook';
    src: url('@/lib/webfonts/andron-mega-corpus-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Handbook';
    src: url('@/lib/webfonts/andron-mega-corpus-semibold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Handbook';
    src: url('@/lib/webfonts/andron-mega-corpus-semibold-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

#nd-docs-layout {
    background-color: white;
    font-family: 'Verdana', sans-serif;
}

h1 {
    color: #666;
    font-size: 1.2em;
}

h2 {
    color: #666;
    font-size: 1.0em;
}

h3 {
    color: #666;
    font-size: 1.0em;
    font-weight: normal;
} 

h4 {
    color: #666;
    font-size: 1.0em;
    font-weight: normal;
}

div.prose > p {
    font-size: 0.8em;
    line-height: 1.3;
    text-align: justify;
}

ol {
    padding-left: 3em;
    font-size: 0.8em;
    line-height: 1.3;
}

ul {
    list-style-image: url('public/images/raudpil.gif');
    padding-left: 3em;
    font-size: 0.8em;
    line-height: 1.3;
}

ol a, ul a, p a {
    color: #0000FF;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-decoration-color: lightgrey;
}

strong {
    font-weight: bold;
}

.hb3 div.prose p {
    font-size: 1em;
    font-family: 'Handbook', serif;
}

.hb3 ol, .hb3 ul {
    font-size: 1em;
    font-family: 'Handbook', serif;
}

.hb3 td {
    font-size: 1em;
    font-family: 'Handbook', serif;
}

.hb3 th {
    font-weight: normal;
}